<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.dao.UserDao">
    <sql id="userField">
        a.id as "id",
        a.name as "name",
        a.password as "password"
    </sql>
    <!--获取所有用户-->
    <select id="findAll" resultType="com.web.model.User">
        select
        <include refid="userField"></include>
        from user as a
    </select>
</mapper>